Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteRule ^(.*)$ api.php?q=$1 [L,QSA]

<Limit GET POST PUT DELETE>
  Allow from all
</Limit>

Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"



